#grid-game {
	position: relative;
	margin: auto;
	width: 334px; 	/* 8x40px de tile_size + 7x2px de gap */
	height: 334px; 	/* 8x40px de tile_size + 7x2px de gap */
}

#grid-layer, #token-layer {	
	position: absolute;
	width: 100%;
	height: 100%;
}

#grid-layer {

	display: grid; 
	grid-template-columns: repeat(8, 40px);
	grid-template-rows: repeat(8, 40px);
	
	gap: 2px; 
}

.cell, .player, .enemy {
    width: 40px;
    height: 40px;	
}

.cell {
    position: relative;
    border-radius: 5px;
	border: 1px solid black;
}

.player, .enemy {
	position: absolute;
	background-size: cover;
}