* {
	margin: 0;
	padding: 0;
}

#square {
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	width: 50px;
	background-color: blue;
}

#danger-zone {
	border: 1px red solid;
	position: absolute;
}